<div class="flex flex-col items-center justify-between">
  @if (questionsForm) {
    <form
      [ngClass]="{ inactive: gamesLobby.gameStage() !== 'assembly' || gameIsUpdatingRemotely }"
      class="flex w-full flex-col overflow-y-scroll"
      [formGroup]="questionsForm">
      @for (premise of premisesControls; track premise.get("_id")?.value; let i = $index, e = $even) {
        <div
          class="text-md flex min-h-[24px] h-[24px] w-full items-center justify-between p-[2px] font-normal {{
            e ? 'bg-stone-200' : 'bg-zinc-200'
          }} border-b border-solid border-stone-300"
          formArrayName="premises">
          <div class="flex w-full items-center justify-between px-[2px] py-[0]" [formGroupName]="i">
            <div class="control-text" [ngClass]="{ active: premise.get('amount')?.value !== 0 }">
              {{ premise.get("text")?.value }}
            </div>
            <div class="amounts flex items-center justify-between">
              <div class="amount-button remove" (click)="changeAmount(i, 'remove')">-</div>
              <div class="amount-display" [ngClass]="{ active: premise.get('amount')?.value !== 0 }">
                {{ premise.get("amount")?.value }}
              </div>
              <div class="amount-button add" (click)="changeAmount(i, 'add')">+</div>
            </div>
          </div>
        </div>
      }
    </form>
  }
  <div class="rounds">
    <span class="chosen">{{ chosenAmount() }}</span>
    <span class="divider">/</span>
    <span class="limit">{{ chosenRoundsLimit() }}</span>
  </div>
</div>
