:host {
  width: 100%;
  $item_height: 24px;

  form {
    width: 100%;
    min-height: calc(5 * $item_height);
    max-height: calc(11 * $item_height);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    gap: 0;
    font-size: 12px;
  }

  .amounts {
    padding: 2px;
  }

  .amount-button {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 200ms;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    &:hover {
      border-color: var(--app_yellow);
    }
  }

  .amount-display {
    width: 15px;
    height: $item_height;
    line-height: $item_height;
    font-size: 0.85rem;
    text-align: center;
    margin: 0 4px;
  }

  .active {
    color: var(--app_green);
  }

  .control-text {
    letter-spacing: -0.2px;
  }

  .rounds {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    color: var(--app_gray_darker);
    margin-top: 2px;
  }

  .divider {
    margin: 0 3px;
  }
}
