:host {
  min-width: 400px;
  width: 400px;
  max-width: 400px;

  $item_height: 24px;

  .main {
    width: 100%;
    min-height: calc(7 * $item_height);
    max-height: calc(12 * $item_height);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    gap: 0;
    font-size: 12px;
  }

  .name {
    width: 96px;
  }
  .seats {
    width: 74px;
  }
  .password {
    width: 70px;
  }
  .rounds {
    width: 60px;
  }
  .user {
    width: 76px;
  }

  .header,
  .data {
    border: 1px solid transparent;
  }

  .info {
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    color: #fff;
    background: #bbb;
    border: 1px solid #ddd;
    border-radius: 3px;

    font-weight: 500;
    font-size: 0.62rem;
    letter-spacing: -0.2px;
    word-spacing: 2px;
    text-align: center;
    height: 100%;
    line-height: calc($item_height - 4px);
  }

  .control-text {
    border: 1px solid #bbb;
    border-radius: 3px;

    font-size: 0.68rem;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    background: #ccc;
  }

  .data {
    text-align: left;
    user-select: none;

    .seats,
    .password {
      text-align: center;
    }

    .user {
      font-size: 0.62rem !important;
    }

    cursor: pointer;
    transition: all 200ms;

    // &.selected:hover div {
    //   border-color: #000;
    // }

    &:hover {
      border-color: #888;
      div {
        transition: all 200ms;
        border-color: #fff;
        background-color: color-mix(in oklab, var(--app_yellow) 90%, black);
        color: #fff;
      }
    }

    &.selected div {
      transition: all 200ms;
      border-color: #fff;
      background-color: var(--app_yellow);
      color: #fff;
    }

    &:active div,
    &:active.selected div {
      transition: all 200ms;
      border-color: #fff;
      background-color: color-mix(in oklab, var(--app_yellow) 80%, white);
      color: #fff;
    }
  }
}
