@use "src/assets/styles/_mixins.scss" as mix;

:host {
  outline: none !important;
  padding: 4px;
  button {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    @include mix.clickable-btn;

    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);

    &.disabled {
      filter: grayscale(1) brightness(1.35);
      color: gray;
      cursor: default;
    }
  }
}
