<form
  [formGroup]="configForm"
  class=""
  [ngClass]="{ inactive: (gamesLobby.gameStage() === 'assembly' && !gamesLobby.userIsHost) || gameIsUpdatingRemotely }">
  <app-input-text
    type="text"
    formControlName="name"
    label="Name"
    placeholder="Name"
    [required]="true"
    [attributesConfig]="{ maxLength: 16 }" />

  <app-input-text formControlName="password" label="Password" type="password" placeholder="" />

  <app-input-text
    type="number"
    formControlName="roundsAmountLimit"
    label="Rounds amount"
    placeholder="Rounds amount"
    [attributesConfig]="{ step: 1, min: 10, max: 15 }" />

  <app-input-radio formControlName="roundLengthMS" label="Turn length" [options]="RoundLengthsOptions" />
</form>
