// @use "src/assets/styles/content.scss";
// @use "src/assets/styles/_material.scss";
:host {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  margin-top: 15%;
}
