<div [formGroup]="formGroup">
  <label class="input-label" [for]="id()">
    <span class="title" [ngClass]="{ required: required(), disabledLabel: disabled() }">{{ label() }}</span>
    <div class="input-options" [ngClass]="{ disabled: disabled() }">
      @for (option of options(); track option.value; let i = $index, e = $even) {
        <label [for]="option.label">
          <input
            [ngClass]="{ disabledInput: disabled() }"
            [formControlName]="formControlName()"
            [id]="option.label"
            type="radio"
            [value]="option.value"
            [checked]="option.checked" />
          {{ option.label }}
        </label>
      }
    </div>
  </label>
</div>
