@use "src/assets/styles/_mixins.scss" as mix;

:host {
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100%;

  .wrapper {
    max-height: calc(100% - var(--header_height));
    position: relative;
    top: var(--header_height);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 800px;
  }
}
