@use "src/assets/styles/content.scss";

:host {
  position: relative;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  top: 12px;

  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0.1px 1px 4px #999;
  border-radius: 6px;
  background: #fff;
}
