/* You can add global styles to this file, and also import other style files */

@use "src/assets/styles/content.scss";
@use "@angular/material" as mat;
@import "src/assets/styles/_reset.scss";
@import "src/assets/styles/_scrollbar.scss";
@import "src/assets/styles/_icons.scss";

:root {
  --header_height: 60px;
  --item_height: 26px;

  --app_yellow: #f0b900;
  --app_yellow_light: #ffe799;
  --app_orange: #dc6400;
  --app_orange_light: #ffbc85;
  --app_brown: #8f4000;
  --app_blue: #2b59c3;
  --app_blue_light: #abbfed;
  --app_green: #44bba4;
  --app_green_light: #b5e3db;

  --app_gray: #ddd;
  --app_gray_light: #efefef;
  --app_gray_dark: #ccc;
  --app_gray_darker: #aaa;

  // Shadows
  --drop-shadow-logo_text_shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  --shadow-barely_visible_divider_shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  --shadow-basic_button_shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

html {
  overflow-x: hidden !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Signika Negative", "Helvetica Neue", sans-serif;
}

* {
  letter-spacing: -0.4px !important;
}

.hidden,
::ng-deep .hidden {
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  display: none !important;
}

app-basic-button + app-basic-button {
  margin-left: 5px;
}
