@use "src/assets/styles/_mixins.scss" as mix;
@use "src/assets/styles/_icons.scss" as icons;

// Mat Dialog and others
::ng-deep {
  .mdc-dialog--open .mat-mdc-dialog-surface {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5) !important;
  }

  .mat-mdc-dialog-actions button {
    text-transform: uppercase !important;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    padding: 0.2em 0.7em !important;
    color: #fff !important;
    background-color: var(--app_yellow) !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35) !important;
    text-shadow: 0.3px 0.3px 3px rgba(0, 0, 0, 0.5) !important;
    border-radius: 4px !important;
    margin: 0 5px !important;
    height: auto !important;

    @include mix.clickable-btn;

    &:disabled,
    &.disabled {
      filter: grayscale(1) !important;
      color: lightgray !important;
      cursor: default !important;
    }
  }

  mat-dialog-content {
    min-width: 400px !important;
  }
}
