// @use "src/assets/styles/_variables.scss" as var;
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: unset;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

* {
  outline-color: none;

  &:hover,
  &:active,
  &:focus-within,
  &:focus-visible {
    outline-color: none;
  }
}

/* # Moves citation marks to the side. Does not work in Chrome */
html {
  hanging-punctuation: first last;
}

/* # Use a more-intuitive box-sizing model */
*,
:not(mat-radio-button),
:not(mat-radio-group),
:not(mat-form-field),
*::before,
*::after {
  box-sizing: border-box;
}

/* # Remove default margin and inherit fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* # Improve scrolling */
:has(:target) {
  scroll-behavior: smooth;
  // scroll-padding-top: var.$header-height;
}

body {
  /* # Add accessible line-height */
  line-height: 1.5;
  /* # Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* # Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* # Improve text wrapping and overflows */
p {
  text-wrap: pretty;
  max-width: 75ch;
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

/*
  # Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
