@use "src/assets/styles/_icons.scss" as icons;
@import "src/assets/styles/animations.scss";

::ng-deep {
  // Card
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0.1px 1px 4px #bbb;
    width: 100%;
    min-height: 400px;
    // max-height: 800px;
    height: fit-content;

    .card__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      margin: 4px 0;
      overflow-x: hidden;
      background: #fff;
      // border: 1px solid rgba(160, 160, 160, 0.2);
      // padding: 8px;
      border-radius: 3px;
    }

    .card__title {
      font-weight: 400;
      font-size: 15px;
      margin-top: 10px;
    }

    mat-tab-group {
      .content-item {
        gap: 16px;
      }
    }
  }

  // Sections
  section,
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
  }

  .section__desc {
    font-weight: 300;
    font-size: 13px;
    margin: 5px 0;
  }

  .section__content {
    padding: 6px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 4px;
    // background: #efefef;
    gap: 8px;
    // overflow: hidden;
  }

  .section__column {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 4px;
    // border: 2px solid #efefef;
    border-radius: 4px;
    // background: #efefef;
    // min-height: 334px;
    height: fit-content;

    // width: 400px;
    // border: 2px solid rgba(126, 126, 126, 0.1);
  }

  .section__column-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;

    border-radius: 4px;
    border: 1px solid rgba(126, 126, 126, 0.1);
  }

  .section__title {
    margin: 3px 0;
    color: gray;
    font-weight: 400;
    font-size: 14px;
    height: 30px;
  }

  .section__actions {
    min-height: 34px;
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
  }

  // Material
  .mat-mdc-tab-group {
    width: 100%;
  }

  .mat-mdc-tab-body {
    height: 100% !important;
  }

  .mdc-linear-progress__bar-inner {
    border-color: var(--app_yellow) !important;
  }

  .mat-mdc-dialog-surface {
    border-radius: 6px !important;
    justify-content: center;
  }

  .mat-mdc-dialog-surface.mdc-dialog__surface,
  .mdc-dialog--open .mat-mdc-dialog-surface {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5) !important;
    border: 1px solid gray;
  }

  [mat-dialog-title] {
    display: flex !important;
    align-items: center !important;
    width: 400px !important;
    height: 40px !important;
    padding: 0 10px !important;
    box-sizing: border-box !important;

    border: 1px solid transparent;
  }

  .mat-mdc-dialog-actions {
    display: flex !important;
    align-items: center !important;
    width: 400px !important;
    height: 60px !important;
    padding: 0 10px !important;
    box-sizing: border-box !important;

    border-top: 1px solid transparent;
    border: 1px solid transparent;
  }

  mat-dialog-content {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 10px 20px !important;
    width: 400px !important;
    height: fit-content !important;
    box-sizing: border-box !important;
    align-items: center !important;
    gap: 8px;
    font-family: "Signika Negative";
  }
}
