<div
  [ngClass]="{ inactive: gamesLobby.gameStage() !== 'assembly' || gameIsUpdatingRemotely }"
  class="seats flex h-[100px] w-full flex-wrap items-center justify-evenly gap-[16px] py-[8px]">
  @for (seat of seats; track seat.index) {
    <div
      class="seat shadow-[0 2px 5px rgba(0, 0, 0, 0.5)] relative flex h-[64px] min-h-[64px] w-[64px] min-w-[64px] items-center justify-center rounded-[100%] border-[4px] border-solid border-[lightgray] bg-[#efefef] px-[0.5em] py-[0.3em] text-center text-[0.7rem] leading-[1.3] font-semibold tracking-[-0.2px]"
      [ngClass]="{
        Closed: gameInAssembly && seat.status === 'closed',
        Opened: gameInAssembly && seat.status === 'opened-empty',
        Invitation: gameInAssembly && seat.status === 'pending-invitation',
        Taken: gameInAssembly && seat.status === 'taken',
        Host: gameInAssembly && seat.takenInfo?.userId === gamesLobby.hostPlayerId(),
      }">
      <!-- CurrentActionDoer: gameInAssembly && seat.takenInfo?.userId === gamesLobby.currentUserId(), -->

      <div class="username" [ngClass]="{ empty: !seat.takenInfo?.userName && seat.status !== 'closed' }">
        @if (seat.takenInfo?.userName) {
          {{ seat.takenInfo?.userName }}
        }

        @if (!seat.takenInfo?.userName && seat.status !== "closed") {
          (empty)
        }
      </div>

      <div class="actions-variant">
        <!-- Variant: closed; Actions: open / invite -->
        <ng-container *ngIf="seat.status === 'closed' && gamesLobby.userIsHost">
          <p
            *ngIf="gameInAssembly"
            class="option"
            [ngClass]="{ 'icon-public_on': gamesLobby.userIsHost() }"
            (click)="seatsCanBeModified && processChangingAccessibility(seat.index, 'open')"
            #tooltip="matTooltip"
            matTooltip="Open this seat"
            matTooltipPosition="right"></p>

          <p
            *ngIf="gameInAssembly"
            class="option"
            [ngClass]="{ 'icon-invites': gamesLobby.userIsHost() }"
            (click)="seatsCanBeModified && processGameInvitation(seat.index)"
            #tooltip="matTooltip"
            matTooltip="Invite a friend"
            matTooltipPosition="right"></p>
        </ng-container>

        <!-- Variant: opened; Actions: close / invite -->
        <ng-container *ngIf="seat.status === 'opened-empty'">
          <p
            *ngIf="gameInAssembly"
            class="option"
            [ngClass]="{ 'icon-public_off': gamesLobby.userIsHost() }"
            (click)="seatsCanBeModified && processChangingAccessibility(seat.index, 'close')"
            #tooltip="matTooltip"
            matTooltip="Close this seat"
            matTooltipPosition="right"></p>

          <p
            *ngIf="gameInAssembly"
            class="option"
            [ngClass]="{ 'icon-invites': gamesLobby.userIsHost() }"
            (click)="seatsCanBeModified && processGameInvitation(seat.index)"
            #tooltip="matTooltip"
            matTooltip="Invite a friend"
            matTooltipPosition="right"></p>
        </ng-container>

        <!-- Variant: invitation; Actions: clear -->
        <ng-container *ngIf="seat.status === 'pending-invitation'">
          <p
            *ngIf="gameInAssembly"
            class="option"
            [ngClass]="{ 'icon-cancel_cross': gamesLobby.userIsHost() }"
            (click)="seatsCanBeModified && processEmptying(seat.index)"
            #tooltip="matTooltip"
            matTooltip="Cancel invitation"
            matTooltipPosition="right"></p>
        </ng-container>

        <!-- Variant: taken; Actions: kick -->
        <!-- <div class="actions-variant" *ngIf="seat.status === 'taken'">
        <p
          *ngIf="gameInAssembly"
          class="option"
          [ngClass]="{ 'icon-kick': gamesLobby.userIsHost() && seat.takenInfo?.userId !== currentUserId }"
          (click)="seatsCanBeModified && processEmptying(seat.index)"
          #tooltip="matTooltip"
          [matTooltip]="seat.takenInfo?.userId !== currentUserId ? 'Kick this player' : ''"
          matTooltipPosition="right">
          {{ seat.takenInfo?.userName }}
        </p>
      </div> -->
      </div>
    </div>
  }
</div>
